<div class="container">
  <h1 class="text-center">Log In</h1>
  <%= form_for(:session, :html => { :class => "form-horizontal post" }, url: login_path) do |f| %>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :email, :class => 'control-label pull-right' %>
      </div>
      <div class="col-sm-5">
        <%= f.email_field :email, :class => 'form-control pull-left', placeholder: "yourname@email.com" %>
        <%=f.error_span(:email) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.label :password, :class => 'control-label pull-right' %>
      </div>
      <div class="col-sm-5">
        <%= f.password_field :password, :class => 'form-control', placeholder: "Password", autocomplete: "off" %>
        <%=f.error_span(:password) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="post-options">
        <div class="col-sm-offset-4 col-sm-4">
          <%= f.submit "Log in", :class => 'pull-left btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>