<%- model_class = Article -%>
<% obj.each do |article| %>
  
  <div class="post">

    <div class="post-header">
      <h2>
        <%= link_to article.title, article_path(article) %>
      </h2>
    </div><!-- .post-header -->

    <div class="post-body">
      <%= truncate(article.description, length: 350) %>
    </div><!-- .post-body -->

    <div class="post-details">
      <small><%= article.title %> was created by <%= link_to(article.user.username, article.user([:id])) if article.user %> <%= time_ago_in_words(article.created_at) %> ago and was last updated <%= time_ago_in_words(article.updated_at) %> ago</small>
    </div><!-- .post-details -->

    <% if logged_in? && (current_user == article.user || current_user.admin?) %>
      <div class="post-options">

        <%= link_to t('.edit', :default => t("helpers.links.edit")),
  edit_article_path(article), :class => 'btn btn-default' %>            

        <%= link_to "Delete", article_path(article.id), method: :delete, data: { confirm: "Are you sure you want to delete the article '#{article.title}'?"}, class: "btn btn-danger" %>

      </div><!-- .post-options -->
    <% end %>

  </div><!-- .post -->
  
<% end %>