<div class="container">
 <%= form_for @article, :html => { :class => "form-horizontal post" } do |f| %>
  
  <%= render 'shared/errors', obj: @article %>
  
    <div class="row">
      <div class="form-group">
        <div class="col-sm-4">
          <%= f.label :title, :class => 'control-label pull-right' %>
        </div>
        <div class="col-sm-5">
          <%= f.text_field :title, :class => 'form-control pull-left' %>
          <%= f.error_span(:title) %>
        </div>

      </div>
    </div>
    
  <div class="row">
    <div class="form-group">

      <div class="col-sm-4">
        <%= f.label :description, :class => 'control-label pull-right' %>
      </div>
      <div class="col-sm-5">
        <%= f.text_area :description, :class => 'form-control pull-left' %>
        <%= f.error_span(:description) %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="form-group">

      <div class="col-sm-4">
        <%= f.label :category, :class => 'control-label pull-right' %>
      </div>
      <div class="col-sm-5">
        <%= f.collection_select(:category_ids, Category.all, :id, :name, prompt: true)  %>
        <%= f.error_span(:category) %>
      </div>

    </div>
  </div>
 
    <div class="row">
      <div class="form-group">
        <div class="post-options">
          <div class="col-sm-offset-4 col-sm-4 pull-left">
            <%= f.submit "Save", :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  articles_path, :class => 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  
  <% end %>
</div>