<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%- model_class = Article -%>
        <div class="text-center">
          <h1><%=t '.the-blog', "Blog" => model_class.model_name.human.pluralize.titleize %></h1>
        </div>
  
      
        <% @articles.each do |article| %>
          <div class="post">

            <div class="post-header">
              <h2>
                <%= link_to article.title, article_path(article) %>
              </h2>
            </div><!-- .post-header -->

            <div class="post-body">
              <%= truncate(article.description, length: 350) %>
            </div><!-- .post-body -->

            <div class="post-details">
              <%= "#{article.title} was created" %> <%= article.created_at %>
            </div><!-- .post-details -->

            <div class="post-options">

              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(article), :class => 'btn btn-default' %>            
              <%= link_to "Delete", article_path(article.id), method: :delete, data: { confirm: "Are you sure you want to delete the article '#{article.title}'?"}, class: "btn btn-danger" %>

            </div><!-- .post-options -->

          </div><!-- .post -->
        
        <% end %>
      
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .container -->