<div class="container">
 <%= form_for @user, :html => { :class => "form-horizontal post" } do |f| %>
  
    <%= render 'shared/errors', obj: @user %>
  
    <div class="row">
      <div class="form-group">
        <div class="col-sm-4">
          <%= f.label :username, :class => 'control-label pull-right' %>
        </div>
        <div class="col-sm-5">
          <%= f.text_field :username, :class => 'form-control pull-right', placeholder: "username" %>
          <%=f.error_span(:username) %>
        </div>
      
      </div>
    </div>
    
    <div class="row">
      <div class="form-group">
        <div class="col-sm-4">
          <%= f.label :email, :class => 'control-label pull-right' %>
        </div>
        <div class="col-sm-5">
          <%= f.email_field :email, :class => 'form-control pull-left', placeholder: "yourname@email.com" %>
          <%=f.error_span(:email) %>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="form-group">
        <div class="col-sm-4">
          <%= f.label :password, :class => 'control-label pull-right' %>
        </div>
        <div class="col-sm-5">
          <%= f.password_field :password, :class => 'form-control pull-left', placeholder: "Password" %>
          <%=f.error_span(:password) %>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="form-group">
        <div class="post-options">
          <div class="col-sm-offset-4 col-sm-4">
            <%= f.submit(@user.new_record? ? "Sign up" : "Update", :class => 'pull-left btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  
  <% end %>
</div>