<div class="container text-center">
  <h1>Welcome to <%= @user.username %>'s profile</h1>
      <%= gravatar_for @user, size: 150 %>
  
  <h2><%= @user.username %>'s articles</h2>
  <%= will_paginate @user_articles %>
  <%= render 'articles/article', obj: @user_articles %>
  <%= will_paginate @user_articles %>

</div>
