<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="post">
        
          <div class="page-header">
            <%= gravatar_for @user, size: 150 %>
            <h1>Welcome to <%= @user.username %>'s profile</h1>
          </div>

          <h2><%= @user.username %>'s articles</h2>
        </div>
  
        <%= render 'articles/article', obj: @user_articles %>
        <%= will_paginate @user_articles %>
      </div>
    </div>
  </div>
</div>

